body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
}

#subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header button {
  background-color: #92a1d1;
}

#container {
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}

#weekdays div {
  width: 100px;
  padding: 10px;
  white-space: nowrap;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day + .currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#newEventModal, #deleteEventModal, #editEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
  border: 2px solid red;
}

#cancelButton, #deleteButton {
  background-color: #d36c6c;
}

#saveButton, #closeButton {
  background-color: #92a1d1;
}

#editButton {
  background-color: #32e222;
}

#saveButton {
  background-color: rgb(13, 98, 255);
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#dateFormatDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  #buttonList {
    button {
      display: inherit;
      justify-content: center;
      align-items: center;
      background-color: #92a1d1;

      &.active {
        background-color: rgb(19, 77, 201);
      }
    }
  }
}

#weekColumn {
  display: flex;
  overflow: hidden;
  background-size: 100% 25px;
  background-image: linear-gradient(to right, lightgrey 1px, transparent 1px),
  linear-gradient(to bottom, lightgrey 1px, white 1px);

  > div {
    width: 100px;
    padding: 0 10px;
    border: 1px solid lightgrey;
  }

  .info {
    margin-top: 2px;
    font-size: 10px;
    background-color: #58bae4;
    color: white;
    padding: 3px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

.dayContainer {
  width: 100%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  height: 30px;
  display: flex;

  .dayText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 12px;
    color: lightgrey;
  }

  .dayMsg {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    &.active {
      cursor: pointer;
      font-size: 10px;
      background-color: #58bae4;
      color: white;
      border-radius: 5px;
      display: flex;
      span {
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}